<%= form_with model: current_user, url: user_path(current_user.id), method: :patch,class: 'user-update-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      会員情報編集
    </h1>
  </div>
  <%= render partial: 'shared/error_messages', locals: {model: f.object} %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">グループネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :group_name, class:"input-default", id:"nickname", placeholder:"例) 山田太郎", maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">主な活動エリア</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"area-category"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">主な活動テーマ</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:theme_id, Theme.all, :id, :name, {}, {class:"select-box", id:"theme-category"}) %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">グループ紹介文</label>
      <span class="indispensable">任意</span>
    </div>
    <%= f.text_area :group_introduction, class:"input-introduction", id:"self-introduction", placeholder:"あなたのことを知ってもらいましょう！" %>
  </div>
  <div class='user-update-btn'>
    <%= f.submit "更新する" ,class:"user-update-red-btn" %>
  </div>
</div>
<% end %>