<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">ニックネーム</th>
            <td class="table__col2"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="table__col1">生年月日</th>
            <td class="table__col2"><%= @user.birthday %></td>
          </tr>
          <tr>
            <th class="table__col1">活動エリア</th>
            <td class="table__col2"><%= @user.area.name %></td>
          </tr>
          <tr>
            <th class="table__col1">興味のあるテーマ</th>
            <td class="table__col2"><%= @user.theme.name %></td>
          </tr>
          <tr>
            <th class="table__col3">自己紹介文</th>
            <td class="table__col4"><%= @user.self_introduction %></td>
          </tr>
        </tbody>
      </table>
      <% if user_signed_in? %>
        <%= link_to "編集", "#", method: :get, class: "user-blue-btn" %>
      <% end %>
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの参加アルバム"%>
      </h2>
    </div>
  </div>
</div>