<div class="content_post" style="background-image: url(<%= url_for(album.image) if album.image.attached? %>);">
  <p class="album_name"><%= album.name %></p>
  <p class="album_content"><%= album.content %></p>
  <ul class="name">
    <li>活動エリア：<%= album.area.name%></li>
    <li>活動テーマ：<%= album.theme.name%></li>
  </ul>
</div>