<div class="album-show">
  <div class="album-box">
    <h2 class="name">
      <%= @album.name %>
    </h2>
    <div class="album-img-content">
      <%= image_tag @album.image, class:"image" %>
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @album.user_id %>
        <%= link_to "アルバムの編集", edit_album_path(@album.id), method: :get, class: "album-blue-btn" %>
        <p class="or-text">or</p>
        <%= link_to "メモリー投稿", new_album_memory_path(@album.id), method: :get, class:"album-destroy" %>
      <% end %> 
    <% end %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-album">主な活動エリア</th>
          <td class="detail-value"><%= @album.area.name %></td>
        </tr>
        <tr>
          <th class="detail-album">活動テーマ</th>
          <td class="detail-value"><%= @album.theme.name %></td>
        </tr>
        <tr>
          <th class="detail-album-content">活動内容</th>
          <td class="detail-value-content"><%= @album.content %></td>
        </tr>
      </tbody>
    </table>
    <% if user_signed_in? %>
      <%= link_to "アルバムに参加する", "#", method: :get, class: "album-join-btn" %>
      <% if current_user.id == @album.user_id %>
      <div class='memory-contents'>
        <div class="main-title" >
        新規投稿メモリー
        </div>
        <ul class='memory-lists'>
          <% @memories.each do |memory| %>
            <li class='list'>
              <%= link_to album_memory_path(@album.id, memory.id) do %>
              <div class='memory-img-content'>
                <%= image_tag memory.images[0], class:'memories' %>
              </div>
              <div class='memory-info'>
                <h3 class='memory-date'>
                  <%= memory.date %>
                </h3>
                <h3 class='memory-title'>
                  <%= memory.title %>
                </h3>
              </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
