<div class="album-show">
  <div class="album-box">
    <h2 class="name">
      <%= @album.name %>
    </h2>
    <div class="album-img-content">
      <%= image_tag @album.image, class:"image" %>
    </div>
    <% if user_signed_in? %>
      <% if current_user.id == @album.user_id %>
        <%= link_to "アルバムの編集", edit_album_path(@album.id), method: :get, class: "album-green-btn" %>
      <% end %> 
    <% end %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-album">グループ名</th>
          <td class="detail-value"><%= @album.user.group_name %></td>
        </tr>
        <tr>
          <th class="detail-album">主な活動エリア</th>
          <td class="detail-value"><%= @album.area.name %></td>
        </tr>
        <tr>
          <th class="detail-album">活動テーマ</th>
          <td class="detail-value"><%= @album.theme.name %></td>
        </tr>
        <tr>
          <th class="detail-album-content">活動内容</th>
          <td class="detail-value-content"><%= @album.content %></td>
        </tr>
      </tbody>
    </table>
    <% if user_signed_in? %>
      <% if current_user.id == @album.user_id %>
        <%= link_to "メモリー投稿", new_album_memory_path(@album.id), method: :get, class:"memory_input" %>
      <% end %> 
      <div class='memory-contents'>
        <div class="main-title" >
        新規投稿メモリー一覧
        </div>
        <ul class='memory-lists'>
          <% @memories.each do |memory| %>
            <li class='list'>
              <%= link_to album_memory_path(@album.id, memory.id) do %>
              <div class='memory-img-content'>
                <%= image_tag memory.images[0], class:'memories' %>
              </div>
              <div class='memory-info'>
                <h3 class='memory-date'>
                  <%= memory.date %>
                </h3>
                <h3 class='memory-title'>
                  <%= memory.title %>
                </h3>
              </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="album_comments">
        <%= form_with model: [@album, @comment], local: true do |f| %>
          <div class="comment_field">
            <%= f.label :text, "コメント" %><br />
            <%= f.text_area :text, placeholder: "コメントを書いてみましょう！", rows: "10", class: :comment_text_form %>
          </div>
          <div class="actions">
            <%= f.submit "送信する", class: :comment_btn  %>
          </div>
        <% end %> 
        <p class="comments_lists_name">コメント一覧</p>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <div class="comment_user"><%= link_to "by #{comment.user.group_name}", "/users/#{comment.user_id}" %></div>
              <div class="comment_time"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
